<ion-header>

  <ion-navbar>
    <ion-title>Dati spedizione</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="onSubmitForm(f)" >
    <ion-list>
      <ion-item>
        <ion-label floating>Via</ion-label>
        <ion-input type="text" name="via" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Numero civico</ion-label>
        <ion-input type="text" name="numero-civico" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Citta</ion-label>
        <ion-input type="text" name="citta" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input type="email" name="email" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Telefono</ion-label>
        <ion-input type="text" name="telefono" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Ora consegna</ion-label>
        <ion-datetime displayFormat="HH:mm" pickerFormat="HH:mm" ngModel name="ora-consegna" required></ion-datetime>
      </ion-item>

    </ion-list>
    <button ion-button full type="submit"
            [disabled]="!f.valid">Continua</button>
  </form>
</ion-content>
