<ion-header>

  <ion-navbar>
    <ion-title>Catalogo Prodotti</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
      <ion-item *ngFor="let prodotto of prodotti">
        <h2>{{ prodotto.nome }}</h2>
        <p>{{ prodotto.descrizione }}</p>
        <h3>{{ prodotto.prezzo }} &euro;</h3>
        <button ion-button large item-end (click)="onAggiungiRimuoviCarrello(prodotto)" >
          <ion-icon name=""></ion-icon>
          <ion-icon [name]="prodottoInCarrello(prodotto) === -1 ? 'add' : 'remove'"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <button ion-button large full (click)="onVisualizzaCarrello()" [disabled]="!carrello.length">
      <ion-icon name="cart"></ion-icon>
      Ordina
    </button>
</ion-content>
