<ion-header>

  <ion-navbar>
    <ion-title>Carrello</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        #
      </ion-col>
      <ion-col>
        Nome
      </ion-col>
      <ion-col>
        Prezzo
      </ion-col>
      <ion-col>
        Q
      </ion-col>
      <ion-col>
        Totale
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let prodotto of prodotti; let i = index">
      <ion-col>
        {{ i + 1 }}
      </ion-col>
      <ion-col>
        {{ prodotto.nome }}
      </ion-col>
      <ion-col>
        {{ prodotto.prezzo }} &euro;
      </ion-col>
      <ion-col>
        <ion-input (input)="onAggiornaQuantita(prodotto, $event)" [value]="prodotto.quantita"
          type="number" min="1" max=""  > <!-- (click)="$event.stopPropagation()" -->
        </ion-input>
      </ion-col>
      <ion-col>
        {{ prodotto.prezzo * prodotto.quantita }} &euro;
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button full (click)="onCheckout()">
    Continua
  </button>
</ion-content>
