<ion-header>

  <ion-navbar>
    <ion-title>Riepilogo Ordine</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3>Elenco prodotti</h3>
  <ion-grid>
    <ion-row>
      <ion-col>
        #
      </ion-col>
      <ion-col>
        Nome
      </ion-col>
      <ion-col>
        Prezzo
      </ion-col>
      <ion-col>
        Q
      </ion-col>
      <ion-col>
        Totale
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let prodotto of prodotti; let i = index">
      <ion-col>
        {{ i + 1 }}
      </ion-col>
      <ion-col>
        {{ prodotto.nome }}
      </ion-col>
      <ion-col>
        {{ prodotto.prezzo }} &euro;
      </ion-col>
      <ion-col>
        x {{ prodotto.quantita }}
      </ion-col>
      <ion-col>
        {{ prodotto.prezzo * prodotto.quantita }} &euro;
      </ion-col>
    </ion-row>
  </ion-grid>

  <h3>Dati spedizione</h3>
  <ion-grid *ngIf="datiSpedizione">
    <ion-row>
      <ion-col>
        Via
      </ion-col>
      <ion-col>
        {{ datiSpedizione["via"] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Numero civico
      </ion-col>
      <ion-col>
        {{ datiSpedizione["numero-civico"] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Citta
      </ion-col>
      <ion-col>
        {{ datiSpedizione["citta"] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Telefono
      </ion-col>
      <ion-col>
        {{ datiSpedizione["telefono"] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Email
      </ion-col>
      <ion-col>
        {{ datiSpedizione["email"] }}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Ora consegna
      </ion-col>
      <ion-col>
        {{ datiSpedizione["ora-consegna"] }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <br>
  <h6>Totale Parziale: {{ totaleParziale }} &euro;</h6>
  <h6>Spedizione: {{ costoSpedizione }} &euro;</h6>
  <h4>Totale: {{ costoSpedizione + totaleParziale}} &euro;</h4>

  <button ion-button full (click)="inviaOrdine()">
    Invia
  </button>
</ion-content>
